$primary-font: "Roboto", sans-serif;
$primary-font-color: rgb(33, 33, 33);
$primary-font-weight: 400;
$primary-font-size: 24px;
$primary-width: 1512px;
$primary-font-size-input: 16px;

$primary-heigth-size-input-btn: 42px;

$primary-font-widght-headers: 700;
$primary-font-size-headers: 36px;

$primary-color-link: rgb(0, 121, 138);
$primary-font-wieght-link: 500;

$primary-background-color-nav: rgb(255, 255, 255);
$primary-background-color-main: rgb(255, 255, 255);
$primary-background-color-footer: rgb(33, 33, 33);

$primary-color-btn-red: rgb(246, 88, 88);
$primary-color-btn-green: rgb(0, 121, 138);
$primary-font-color-btn-white: rgb(255, 255, 255);