$primary-font: 'Roboto', sans-serif;
$primary-font-color:rgba(33, 33, 33, 1);
$primary-font-weight:400;
$primary-font-size:24px;
$primary-width:1512px;
$primary-font-size-input:16px;

$primary-font-weight-headers:700;
$primary-font-size-headers:36px;

$primary-color-link:rgba(0, 121, 138, 1);
$primary-font-wieght-link:500;

$primary-color-nav:rgba(255, 255, 255, 1);
$primary-color-main:rgba(255, 255, 255, 1);
$primary-color-footer:rgba(33, 33, 33, 1);

$primary-color-btn-red: rgba(246, 88, 88, 1);
$primary-color-btn-green:rgba(0, 121, 138, 1);


