<footer>

  <div class="meetUpGrope">
    <h3>Create your own Meetup group.</h3>
    <a class="meetUpGropeBtn" href="#">Get Started</a>
  </div>
  <div class="navigatorOll">
    <ul>
      <h3>Your Account</h3>
      <li><a href="#">Sign up</a></li>
      <li><a href="#">Log in</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Become an Affiliate</a></li>
    </ul>
    <ul>
      <h3>Discover</h3>
      <li><a href="#">Groups</a></li>
      <li><a href="#">Calendar</a></li>
      <li><a href="#">Topics</a></li>
      <li><a href="#">Cities</a></li>
      <li><a href="#">Online Events</a></li>
      <li><a href="#">Local Guides</a></li>
      <li><a href="#">Make Friends</a></li>
    </ul>
    <ul>
      <h3>Meetup</h3>
      <li><a href="#">About</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Meetup Pro</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Apps</a></li>
      <li><a href="#">Podcast</a></li>
    </ul>
  </div>
  <div class="socialMedia">
    <h3>Follow us</h3>
    <div class="socialMediaLinkAll">
      <div class="socialMediaLink">
        <a
          style=" background-image: url(../src/assets/icons/header_img/fb.svg)"
          href="#"
        ><img src="" alt="" /></a>
        <a
          style="background-image: url(../src/assets/icons/header_img/twiter.svg)"
          href="#"
        ></a>
        <a
          style=" background-image: url(../src/assets/icons/header_img/youtube.svg)"
          href="#"
        ></a>
        <a
          style=" background-image: url(../src/assets/icons/header_img/insta.svg)"
          href="#"
        ></a>
                <a
          style=" background-image: url(../src/assets/icons/header_img/tiktok.svg)"
          href="#"
        ></a>
      </div>
      <div class="socialMediaApp">
        <a style=" background-image: url(../src/assets/icons/header_img/googlApp.png)" href="#"></a>
        <a style=" background-image: url(../src/assets/icons/header_img/appleApp.png)" href="#"></a>
      </div>
    </div>
  </div>
  <div class="navPolisy">
    <a href="#">© 2024 Meetup</a>
    <a href="#">Terms of Service</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Do Not Sell or Share My Personal Data</a>
    <a href="#">Cookie Policy</a>
    <a href="#">Help</a>
  </div>

</footer>