<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Main Page</title>
  </head>
  <body>
    {{> header}}
     <main id="main">
      <div class="peopleForm">
      <div class="peoplePlatform">
        <h1>The people platform—Where <br>
        interests become friendships</h1>
        <p>Whatever your interest, from hiking and reading to networking and skill sharing,
        there are thousands of people who share it on Meetup. Events are happening
        every day—sign up to join the fun.</p>
     
      <a href="http://127.0.0.1:5501/dist/events.html">Join Meetup</a>
      </div> 
      <div class="peoplePlatformImg">
        <img src="/src/assets/images/main_img/mainPlatformImg.png" alt="people" class="mainPlatformImg">
      </div>
      </div>

<div class="meetUpEventAll">
  <form class="meetUpSearch">
    <div class="searchTaunNear">
      <h3>Events near</h3>
      <input type="search" id="city-input" placeholder="  New York or San Francisco">
      <button  style=" background-image: url(../src/assets/icons/main_img/pencil.svg)" type="button" class="searchTaunNearBtn"></button>
    </div>
    <a href="http://127.0.0.1:5501/dist/events.html">See all events</a>
  </form>
  <ul class="meetUpEventDescription"></ul>
</div>
<div class="meetUpEventSoon">
  <div class="uncomenOnline">
    <h3>Upcoming online events</h3>
  </div>
  <ul class="meetUpEventSoonAll"></ul>
</div>

     </main>
    {{> footer}}

  </body>
</html>
